body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #0f0f10;
  padding: 20px 40px;
}

.nav-links a,
.nav-links button {
  color: white;
  margin-left: 20px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.nav-links a.active {
  color: #a28cf6;
}

.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section,
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}